spring:
  application:
    name: Cadastro2024

  mvc:
    apiversion:
      use:
        header: "API-Version"

  datasource:
    url: jdbc:postgresql://localhost:5432/cadastro_avd_2025
    username: cadastro
    password: Teste_123#
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        transaction:
          jta:
            platform: org.hibernate.engine.transaction.jta.platform.internal.NoJtaPlatform

  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.xml
    default-schema: cadastro
    liquibase-schema: cadastro
    drop-first: false

server:
  port: 8080
  shutdown: immediate

logging:
  level:
    com.gersondeveloper: INFO
    org.springframework.boot.actuator.autoconfigure.opentelemetry: INFO
    org.springframework.boot.docker.compose: INFO
    org.liquibase: INFO


management:
  opentelemetry:
    tracing:
      export:
        otlp:
          endpoint: http://localhost:4318/v1/traces
    logging:
      export:
        otlp:
          endpoint: http://localhost:4318/v1/logs
  endpoints:
    web:
      exposure:
        include: "*"
  tracing:
    sampling:
      probability: 1.0

  springdoc:
    swagger-ui:
      enabled: true
      path: /swagger-ui.html
    show-actuator: true
    api-docs:
      path: /api-docs

api:
  security:
    token:
      secret: ${JWT_SECRET:my-secret-key}

  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:587}
    username: ${SPRING_MAIL_USER:test}
    password: ${SPRING_MAIL_PASSWORD:test}
    protocol: smtp
    from: ${MAIL_FROM:no-reply@example.com}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            trust: smtp.gmail.com
        debug: ${MAIL_DEBUG:true}
    default-encoding: UTF-8


