server:
  port: 8080

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none

  docker:
    compose:
      enabled: false

management:
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"

api:
  security:
    token:
      secret: ${JWT_SECRET}

logging:
  level:
    root: INFO
    com.gersondeveloper: INFO
    org.liquibase: INFO