<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="OTEL" class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
        <otelExporterEndpoint>http://localhost:4317</otelExporterEndpoint>
    </appender>

    <root level="INFO">
        <appender-ref ref="OTEL"/>
    </root>
</configuration>